@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.poppins-thin-normal {
    font-family: "Poppins", serif;
    font-style: normal;
  }
  /* shared style */
    .headers-color{
      color: #3A3A3A;
    }


  /* header section */

  /* nav section */
  .container{
    max-width: 1100px;
    margin: 0px auto;
  }
  .navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
  }
  .nav-items ul{
    display: flex;
    gap: 34px;
  }
  .nav-item{
    list-style: none;
  }
  .nav-link{
    text-decoration: none;
  }
  .influence{
    font-size: 1.5rem;
    font-weight: 700;
  }


  /* banner section */
  .banner{
    display: flex;
    gap: 120px;
  }
  .banner-content{
    max-width: 500px;
    margin-top: 140px;
  }
  .banner-images img{
    width: 100%;
  }
  .banner-images{
    margin-top: 50px;
    width: 475px;
    height: 475px;
    background-image: url("../images/Circle\ design.svg");
  }
  .banner-title{
    font-size: 3.25rem;
    font-weight: 700;
    margin: 0px;
  }
  .banner-details{
    font-size: 1rem;
    font-weight: 500;
  }
  .btn-preebook{
    background-color: #E02C6D;
    border-radius: 41px;
    padding: 10px 24px;
    color: white;
    font-size: 1rem;
    font-weight: 700;
  }
  .fa-solid{
    margin-left: 8px;
  }


/* brand logos section */
.brand{
  max-width: 980px;
  margin: 100px auto;
}
.brand-partner{
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 60px;
  align-items: center;
}


/* product section */
.product{
  max-width: 1000px;
  margin: 0px auto;
}
.collection-title{
  font-size: 1.75rem;
  font-weight: 500;
  text-align: center;
  
}
/* card section */
.product-card{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 30px;
  position: relative;
  margin-bottom: 170px;
  
}
.card{
  padding: 17px 14px;
  box-shadow: 0px  0px 40px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  
}
.name{
  margin-top: 16px;
  margin-bottom: 0px;
  font-size: 1.75rem;
  font-weight: 500;
  color: #18191F;
}
.price{
  font-size: 1.35rem;
  margin: 0px;
}
.rating{
  height: 10px;
  margin-top: 0px;
}
.details{
  color: #787885;
  font-size: 0.8rem;
  font-weight: 700;
  max-width: 196px;
}
.btn-card{
  border: none;
  background-color: white;
  color: rgba(224, 44, 109, 0.87);
  font-size: 1rem;
  font-weight: 700;
  text-decoration: none;
  position: absolute;
  right: -50px;
  bottom: -50px;
  
}
/* featured-section */
.featured-section{
  display: flex;
  gap: 90px;
  max-width: 1100px;
  margin: 0px auto;
}
.featured-title{
  color: #0A0826;
  font-size: 2.3rem;
  font-weight: 700;
  margin-bottom: 16px;
  margin-top: 23px;
}
.feature-details{
  color: #6C6C6C;
  font-size: 1rem;
  font-weight: 700;
  max-width: 500px;
}
.featured-btn{
  padding: 10px 24px;
  background-color: #E02C6D;
  color: white;
  font-size: 1rem;
  font-weight: 700;
  border: none;
}


  /* make responsive for mobile device */
  @media screen and (max-width:576px) {
    /* nav section */
    .navbar,
    .nav-items ul,
    .banner{
      flex-direction: column;
    }
    .nav-items ul,
    .banner{
      gap: 10px;
    }
    .nav-items ul{
      text-align: center;
    }
    .banner-content{
      margin-top: 30px;
      text-align: center;
    }
    .banner-images{
      background-image: none;
      width: 100%;
    }

      /* brand section */
  .brand-partner{
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .brand{
    margin-top: 70px;
  }
   /* card section */
   .product-card{
    grid-template-columns: repeat(1, 1fr);
  }
  .btn-card{
    right: 0px;
  }

  }
 




  /*responsive for tablet phone*/
  @media screen and (min-width:577px) and (max-width:992px){
    .banner{
      flex-direction: column;
      gap: 10px;
      align-items: center;
      
    }
    .banner-content{
      margin-top: 30px;
      text-align: center;
     
     
    }
    .navbar{
      flex-direction: column;
    }

    .brand-partner{
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
    }
    .brand{
      margin-top: 70px;
    }
    .product-card{
      grid-template-columns: repeat(2, 1fr);
    }
    .btn-card{
      right: 0px;
    }
  
  }