@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.poppins-thin-normal {
    font-family: "Poppins", serif;
    font-style: normal;
  }
  /* shared style */
    .headers-color{
      color: #3A3A3A;
    }

  /* header section */

  /* nav section */
  .container{
    max-width: 1100px;
    margin: 0px auto;
  }
  .navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
  }
  .nav-items ul{
    display: flex;
    gap: 34px;
  }
  .nav-item{
    list-style: none;
  }
  .nav-link{
    text-decoration: none;
  }
  .influence{
    font-size: 1.5rem;
    font-weight: 700;
  }

  /* banner section */
  .banner{
    display: flex;
    gap: 120px;
  }
  .banner-content{
    max-width: 500px;
    margin-top: 140px;
  }
  .banner-images img{
    width: 100%;
  }
  .banner-images{
    margin-top: 50px;
    width: 475px;
    height: 475px;
    background-image: url("../images/Circle\ design.svg");
  }
  .banner-title{
    font-size: 3.25rem;
    font-weight: 700;
    margin: 0px;
  }
  .banner-details{
    font-size: 1rem;
    font-weight: 500;
  }
  .btn-preebook{
    background-color: #E02C6D;
    border-radius: 41px;
    padding: 10px 24px;
    color: white;
    font-size: 1rem;
    font-weight: 700;
  }
  .fa-solid{
    margin-left: 8px;
  }
/* brand logos section */
.brand{
  max-width: 1100px;
  margin: 100px auto;
}
.brand-partner{
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 60px;
}





  /* make responsive for mobile device */
  @media screen and (max-width:576px) {
    /* nav section */
    .navbar,
    .nav-items ul,
    .banner{
      flex-direction: column;
    }
    .nav-items ul,
    .banner{
      gap: 10px;
    }
    .nav-items ul{
      text-align: center;
    }
    .banner-content{
      margin-top: 30px;
      text-align: center;
    }
    .banner-images{
      background-image: none;
      width: 100%;
    }

      /* brand section */
  .brand-partner{
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .brand{
    margin-top: 70px;
  }

  }

  /*responsive for tablet phone*/
  @media screen and (min-width:577px) and (max-width:992px){
    .banner{
      flex-direction: column;
      gap: 10px;
      align-items: center;
      
    }
    .banner-content{
      margin-top: 30px;
      text-align: center;
     
     
    }
    .navbar{
      flex-direction: column;
    }

    .brand-partner{
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
    }
    .brand{
      margin-top: 70px;
    }
  }